services:
  redis:
    image: redis:8.4.0
    container_name: redis-server3
    command: redis-server --port 6381 --requirepass OZwtXSpJCjZEQ5b --masterauth OZwtXSpJCjZEQ5b --slaveof localhost 6379
    network_mode: "host"
