services:
  redis:
    image: redis:8.4.0
    container_name: redis-server2
    command: redis-server --port 6380 --requirepass OZwtXSpJCjZEQ5b --masterauth OZwtXSpJCjZEQ5b --slaveof localhost 6379
    network_mode: "host"
