services:
  sentinel:
    image: redis:8.4.0
    container_name: sentinel2
    command: ["redis-sentinel", "/etc/redis/sentinel.conf", "--sentinel", "--port 26380", "--requirepass GWMije5VNMe7avz"]
    volumes:
      - ./config:/etc/redis
    network_mode: "host"
