<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{screen.pac4j.unauthz.pagetitle}">Pac4j Stop Webflow View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main class="container mt-3 mb-3">
        <div id="content" layout:fragment="content"
             class="mdc-card m-auto w-lg-66">
            <div class="banner banner-danger alert alert-danger">
                <h2 th:utext="#{screen.pac4j.unauthz.heading}">Unauthorized Access</h2>
                <p th:utext="#{screen.pac4j.unauthz.message}">Either the authentication request was rejected/cancelled,
                    or the authentication provider denied access due to permissions, etc. Review logs to find the root
                    cause of the issue.</p>

                <p>
                    <i th:if="${extra_exception_info_i18n_key}" class="mdi mdi-alert fas fa-exclamation-triangle me-2" aria-hidden="true"></i>
                    <span th:if="${extra_exception_info_i18n_key}"
                          th:text="#{${extra_exception_info_i18n_key}}">
                      Exception Info</span>
                </p>
            </div>
            <br/>
        </div>
    </main>
</body>

</html>
