<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Login Form Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main class="container">

    <div th:fragment="loginform" class="d-flex flex-column justify-content-between m-auto"
         th:with="loginFormEnabled=${#strings.defaultString(#themes.code('cas.login-form.enabled'), 'true') == 'true'},
                loginFormViewable=${@casThymeleafTemplatesDirector.isLoginFormViewable(#vars)}">

        <div class="login-layout">
            <div class="card">
                <h1 th:text="#{screen.welcome.login.title}">Login</h1>
                <p th:text="#{screen.welcome.login.desc}">
                For safety reasons, please exit your web browser when you have finished your authenticated session.
                </p>
                <form method="post" id="fm1" th:object="${credential}" onsubmit="loginFormSubmission();">
                    <div class="field">
                        <div class="field-layout">
                        <div class="field-container">
                            <div class="middle">
                            <label th:text="#{screen.welcome.login.username.title}" for="username">Username</label>
                            <input type="text" name="login" id="username" size="25" autocomplete="username" spellcheck="false" 
                                th:accesskey="#{screen.welcome.label.netid.accesskey}" th:field="*{username}" 
                                th:readonly="!${@casThymeleafTemplatesDirector.isLoginFormUsernameInputVisible(#vars)}" 
                                placeholder required>
                            </div>
                        </div>
                        <div class="active-indicator"></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field-layout">
                        <div class="field-container">
                            <div class="middle">
                            <label for="password" th:text="#{screen.welcome.login.password.title}">Password</label>
                            <input type="password" name="password" id="password" th:accesskey="#{screen.welcome.label.password.accesskey}" th:field="*{password}" autocomplete="off" placeholder required>
                            </div>
                            <div class="end">
                                <button type="button" id="toggle-password-visibility" class="btn-tertiary circle" onclick="togglePassword()">
                                <i class="fa-solid fa-eye" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="active-indicator"></div>
                        </div>
                    </div>
                    <a th:text="#{screen.welcome.login.password.forget}" th:href="@{${domain_name} + '/cerbere2/stylesheets/perdu.xhtml' }" id="password-forgotten">Forgot your password ?</a>
                    <button th:text="#{screen.welcome.login.button.login}" type="submit" class="btn-primary">
                        <i class="fa-solid fa-lock-open" aria-hidden="true"></i>Login
                    </button>
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                    <input type="hidden" name="_eventId" value="submit"/>
                    <input type="hidden" name="geolocation"/>
                    <input type="hidden" name="deviceFingerprint"/>
                </form>
            </div>
            <div class="actions">
                <a th:href="@{${domain_name} + '/cerbere2/' }" class="btn">
                <i class="fa-solid fa-bolt" aria-hidden="true"></i><span th:remove="tag" th:text="#{screen.welcome.login.activate.account}">Activate my account</span>
                </a>
                <a th:href="@{${domain_name} + '/cerbere2/' }" class="btn">
                <i class="fa-solid fa-arrow-rotate-left" aria-hidden="true"></i><span th:remove="tag" th:text="#{screen.welcome.login.reset.account}">My account was reset</span>
                </a>
            </div>
        </div>
    </div>
</main>
</body>

</html>