html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

/*!
 * Copyright (C) 2025 GIP-RECIA, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@font-face {
  font-family: "DM Sans";
  src: url("/commun/fonts/DM_Sanc/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/commun/fonts/DM_Sans/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/commun/fonts/DM_Sans/DMSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/commun/fonts/DM_Sans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/commun/fonts/DM_Sans/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/commun/fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/commun/fonts/DM_Sans/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/commun/fonts/Sora/Sora-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/commun/fonts/Sora/Sora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/commun/fonts/Sora/Sora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

h6,
.h6, h5,
.h5, h4,
.h4, h3,
.h3, h2,
.h2, h1,
.h1 {
  font-family: "Sora", "sans-serif";
  color: var(--recia-body);
  margin-bottom: var(--recia-font-size-base);
}

h1,
.h1 {
  font-size: var(--recia-font-size-h1);
  font-weight: bold;
}

h2,
.h2 {
  font-size: var(--recia-font-size-h2);
  font-weight: bold;
}

h3,
.h3 {
  font-size: var(--recia-font-size-h3);
  font-weight: 600;
}

h4,
.h4 {
  font-size: var(--recia-font-size-h4);
  font-weight: 600;
}

h5,
.h5 {
  font-size: var(--recia-font-size-h5);
}

h6,
.h6 {
  font-size: var(--recia-font-size-h6);
}

:root {
  --recia-body: #1E1E1E;
  --recia-body-inverted: #FFF;
  --recia-body-bg: #FFF;
  --recia-favorite: #FFAA46;
  --recia-stroke: #E9E9E9;
  --recia-tutorial: #171717;
  --recia-basic-grey: #F4F4F4;
  --recia-basic-black: #1E1E1E;
  --recia-basic-black-lighter: #737373;
  --recia-lighter-black: #2C2C2C;
  --recia-system-blue: #005099;
  --recia-system-red: #AD1919;
  --recia-primary: #0062BC;
  --recia-primary-light: #0062BC;
  --recia-hover: #F8F8F8;
  --recia-hover-light: #F8F8F8;
  --recia-primary-inverted: #57AEFF;
  --recia-primary-dark: #57AEFF;
  --recia-hover-inverted: #262626;
  --recia-hover-dark: #262626;
  --recia-documentation: #AB47BC;
  --recia-documentation-hover: #C400F3;
  --recia-documentation-hover-shadow: rgba(from var(--recia-documentation-hover) r g b/0.1);
  --recia-documentation-text: #FFF;
  --recia-collaboratif: #5747BC;
  --recia-collaboratif-hover: #665BE7;
  --recia-collaboratif-hover-shadow: rgba(from var(--recia-collaboratif-hover) r g b/0.15);
  --recia-collaboratif-text: #FFF;
  --recia-apprentissage: #FFAC2F;
  --recia-apprentissage-hover: #F5C72E;
  --recia-apprentissage-hover-shadow: rgba(from var(--recia-apprentissage-hover) r g b/0.15);
  --recia-apprentissage-text: #000;
  --recia-vie-scolaire: #858585;
  --recia-vie-scolaire-hover: #5B5B5B;
  --recia-vie-scolaire-hover-shadow: rgba(from var(--recia-vie-scolaire-hover) r g b/0.15);
  --recia-vie-scolaire-text: #000;
  --recia-orientation: #26C6DA;
  --recia-orientation-hover: #70EAF5;
  --recia-orientation-hover-shadow: rgba(from var(--recia-orientation-hover) r g b/0.15);
  --recia-orientation-text: #000;
  --recia-parametres: #66BB6A;
  --recia-parametres-hover: #4EF186;
  --recia-parametres-hover-shadow: rgba(from var(--recia-parametres-hover) r g b/0.15);
  --recia-parametres-text: #000;
  --recia-communication: #EC407A;
  --recia-communication-hover: #F60086;
  --recia-communication-hover-shadow: rgba(from var(--recia-communication-hover) r g b/0.2);
  --recia-communication-text: #000;
  --recia-btn-primary: #FFF;
  --recia-btn-primary-light: #FFF;
  --recia-btn-primary-pressed: #004584;
  --recia-btn-primary-pressed-light: #004584;
  --recia-btn-secondary: #1E1E1E;
  --recia-btn-secondary-light: #1E1E1E;
  --recia-btn-secondary-hover: #E6EFF8;
  --recia-btn-secondary-hover-light: #E6EFF8;
  --recia-btn-secondary-pressed: #CCE0F2;
  --recia-btn-secondary-pressed-light: #CCE0F2;
  --recia-btn-primary-bg: #1E1E1E;
  --recia-btn-primary-bg-light: #1E1E1E;
  --recia-btn-secondary-bg: #F4F4F4;
  --recia-btn-secondary-bg-light: #F4F4F4;
  --recia-btn-primary-inverted: #1E1E1E;
  --recia-btn-primary-dark: #1E1E1E;
  --recia-btn-primary-pressed-inverted: #8AC7FF;
  --recia-btn-primary-pressed-dark: #8AC7FF;
  --recia-btn-secondary-inverted: #FFF;
  --recia-btn-secondary-dark: #FFF;
  --recia-btn-secondary-hover-inverted: #1A1F23;
  --recia-btn-secondary-hover-dark: #1A1F23;
  --recia-btn-secondary-pressed-inverted: #212E3A;
  --recia-btn-secondary-pressed-dark: #212E3A;
  --recia-btn-primary-bg-inverted: #FFF;
  --recia-btn-primary-bg-dark: #FFF;
  --recia-btn-secondary-bg-inverted: #1E1E1E;
  --recia-btn-secondary-bg-dark: #1E1E1E;
  --recia-shadow-neutral: 0 4px 15.9px 0;
  --recia-shadow-strong: 0 4px 24.4px 0;
  --recia-shadow-hover: 0 4px 26px 0;
  --recia-shadow-low-elevation: 0 2px 6px 0;
  --recia-shadow-low-elevation-avatar-notif: 0 1px 24px 0;
  --recia-font-size-base: 1rem;
  --recia-body-font-size: calc(var(--recia-font-size-base) * 0.75);
  --recia-font-size-xxs: calc(var(--recia-font-size-base) * 0.625);
  --recia-font-size-xs: calc(var(--recia-font-size-base) * 0.75);
  --recia-font-size-sm: calc(var(--recia-font-size-base) * 0.875);
  --recia-font-size-md: calc(var(--recia-font-size-base) * 1);
  --recia-font-size-lg: calc(var(--recia-font-size-base) * 1.125);
  --recia-font-size-xl: calc(var(--recia-font-size-base) * 1.25);
  --recia-font-size-xxl: calc(var(--recia-font-size-base) * 1.5);
  --recia-font-size-h1: calc(var(--recia-font-size-base) * 1.25);
  --recia-font-size-h2: calc(var(--recia-font-size-base) * 1.125);
  --recia-font-size-h3: calc(var(--recia-font-size-base) * 1);
  --recia-font-size-h4: calc(var(--recia-font-size-base) * 0.875);
}

@media screen and (width >= 992px) {
  :root {
    --recia-body-font-size: calc(var(--recia-font-size-base) * 0.875);
    --recia-font-size-h1: calc(var(--recia-font-size-base) * 1.5);
    --recia-font-size-h2: calc(var(--recia-font-size-base) * 1.25);
    --recia-font-size-h3: calc(var(--recia-font-size-base) * 1);
    --recia-font-size-h4: calc(var(--recia-font-size-base) * 0.875);
  }
}

html {
  font-size: var(--recia-font-size-base);
}

body {
  background-color: var(--recia-body-bg);
  font-family: "DM Sans", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: var(--recia-body-font-size);
  letter-spacing: 0;
  color: var(--recia-body);
}

.container-fluid, .container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (width >= 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (width >= 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (width >= 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (width >= 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (width >= 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn, .btn-secondary, .btn-secondary-toggle, .btn-primary {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-family: "Sora", "sans-serif";
  font-weight: 600;
  font-size: var(--recia-font-size-md);
}

.btn-primary {
  background-color: var(--recia-btn-primary-bg);
  color: var(--recia-btn-primary);
}

.btn-primary:active {
  background-color: var(--recia-btn-primary-pressed) !important;
}

.btn-primary:hover, .btn-primary:focus-visible {
  background-color: var(--recia-primary);
}

.btn-primary:focus-visible {
  outline: 4px solid rgba(from var(--recia-primary) r g b/0.3);
}

.btn-primary:disabled, .btn-primary.disabled {
  opacity: 0.33;
  pointer-events: none;
}

.btn-primary.circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
}

.btn-primary.small {
  padding: 8px 16px;
  font-size: var(--recia-font-size-sm);
}

.btn-primary.small.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 8px;
}

.btn-secondary, .btn-secondary-toggle {
  background-color: var(--recia-btn-secondary-bg);
  color: var(--recia-btn-secondary);
}

.btn-secondary:active, .btn-secondary-toggle:active {
  background-color: var(--recia-btn-secondary-pressed) !important;
  color: var(--recia-primary) !important;
}

.btn-secondary:hover, .btn-secondary-toggle:hover, .btn-secondary:focus-visible, .btn-secondary-toggle:focus-visible {
  background-color: var(--recia-btn-secondary-hover);
  color: var(--recia-primary);
}

.btn-secondary:focus-visible, .btn-secondary-toggle:focus-visible {
  outline: 4px solid var(--recia-primary);
}

.btn-secondary:disabled, .btn-secondary-toggle:disabled, .btn-secondary.disabled, .disabled.btn-secondary-toggle {
  opacity: 0.33;
  pointer-events: none;
}

.btn-secondary.circle, .circle.btn-secondary-toggle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
}

.btn-secondary.small, .small.btn-secondary-toggle {
  padding: 8px 16px;
  font-size: var(--recia-font-size-sm);
}

.btn-secondary.small.circle, .small.circle.btn-secondary-toggle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 8px;
}

.btn-secondary-toggle {
  background-color: unset;
  color: var(--recia-btn-secondary);
}

.btn-secondary-toggle.active {
  background-color: var(--recia-primary);
  color: var(--recia-body-inverted);
  box-shadow: var(--recia-shadow-hover) rgba(from var(--recia-primary) r g b/0.2);
}

.btn-secondary-toggle.active:active {
  background-color: var(--recia-btn-primary-pressed) !important;
  color: var(--recia-btn-primary) !important;
}

.btn-secondary-toggle.active:focus-visible {
  outline: 4px solid rgba(from var(--recia-primary) r g b/0.3);
}

.btn-tertiary {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-family: "DM Sans", "sans-serif";
  font-weight: 600;
  font-size: var(--recia-font-size-sm);
  color: var(--recia-btn-secondary);
}

.btn-tertiary:hover, .btn-tertiary:focus-visible {
  background-color: var(--recia-body-bg);
  color: var(--recia-primary);
  text-decoration: underline;
}

.btn-tertiary:focus-visible {
  outline: 4px solid var(--recia-primary);
}

.btn-tertiary:disabled, .btn-tertiary.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-tertiary.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 8px;
}

.field > .field-layout {
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--recia-basic-grey);
}

.field > .field-layout > .field-container {
  display: flex;
  align-items: center;
}

.field > .field-layout > .field-container > .start {
  display: inline-flex;
  margin-inline: 12px 4px;
  opacity: 0.7;
}

.field > .field-layout > .field-container > .start svg {
  font-size: 20px;
}

.field > .field-layout > .field-container > .middle {
  flex: 1 1 0;
  position: relative;
  margin-inline: 8px;
}

.field > .field-layout > .field-container > .middle > label {
  position: absolute;
  top: 16px;
  font-size: var(--recia-font-size-md);
  transition: top 0.15s ease-in, font-size 0.15s ease-in;
}

.field > .field-layout > .field-container > .middle > input {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 8px;
  outline: unset;
  font-size: var(--recia-font-size-md);
}

.field > .field-layout > .field-container > .middle:has(input:not(:placeholder-shown)) > label {
  top: 8px;
  opacity: 0.75;
  font-size: unset;
}

.field > .field-layout > .field-container > .end {
  display: inline-flex;
  margin-inline: 4px 12px;
  opacity: 0.7;
}

.field > .field-layout > .field-container > .end svg {
  font-size: 20px;
}

.field > .field-layout > .active-indicator {
  position: absolute;
  inset: auto 0 0;
  border-bottom: 1px solid var(--recia-basic-black);
}

.field > .field-informations {
  margin-top: 8px;
}

.field:hover:not(:focus-within) > .field-layout {
  background-color: var(--recia-stroke);
}

.field:hover:not(:focus-within) > .field-layout > .active-indicator {
  border-bottom: 2px solid var(--recia-basic-black);
}

.field:focus-within > .field-layout > .field-container > .middle > label {
  top: 8px;
  opacity: unset !important;
  color: var(--recia-primary);
  font-size: unset;
}

.field:focus-within > .field-layout > .active-indicator {
  border-bottom: 2px solid var(--recia-primary);
}

.login-layout * {
  box-sizing: border-box;
}

.login-layout > .card {
  outline: 1px solid var(--recia-stroke);
  border-radius: 10px;
  background-color: var(--recia-body-bg);
  box-shadow: var(--recia-shadow-neutral) rgba(from #000 r g b/0.1);
  padding: 25px 20px;
  margin-bottom: 16px;
}

.login-layout > .card > p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.login-layout > .card > form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.login-layout > .card > form > a#password-forgotten {
  color: inherit;
  text-decoration: none;
  align-self: flex-end;
  width: fit-content;
  color: var(--recia-primary);
  font-style: italic;
  font-size: var(--recia-font-size-xs);
  margin-top: -16px;
}

.login-layout > .card > form > a#password-forgotten:hover, .login-layout > .card > form > a#password-forgotten:focus-visible {
  text-decoration: underline;
  outline: none;
}

.login-layout > .actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-layout > .actions > a,
.login-layout > .actions > button {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
  text-align: unset;
  justify-content: unset;
  font-weight: 500;
  letter-spacing: -0.25px;
  font-size: var(--recia-font-size-sm);
  outline: 1px solid var(--recia-stroke);
  border-radius: 10px;
  background-color: var(--recia-body-bg);
  box-shadow: var(--recia-shadow-neutral) rgba(from #000 r g b/0.1);
  padding: 16px;
  flex: 1;
  transition: outline 0.15s ease-in, box-shadow 0.15s ease-in;
}

.login-layout > .actions > a > svg,
.login-layout > .actions > button > svg {
  font-size: 46px;
  margin: 0 8px;
  transition: color 0.15s ease-in;
}

.login-layout > .actions > a:hover, .login-layout > .actions > a:focus-visible,
.login-layout > .actions > button:hover,
.login-layout > .actions > button:focus-visible {
  outline: 2px solid var(--recia-primary);
  box-shadow: var(--recia-shadow-hover) rgba(from var(--recia-primary) r g b/0.2);
}

.login-layout > .actions > a:hover > svg, .login-layout > .actions > a:focus-visible > svg,
.login-layout > .actions > button:hover > svg,
.login-layout > .actions > button:focus-visible > svg {
  color: var(--recia-primary);
}

@media (width >= 576px) {
  .login-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-layout > .card {
    padding: 25px 40px;
    margin-bottom: 24px;
    max-width: 432px;
  }
  .login-layout > .card > form > button[type=submit] {
    align-self: flex-end;
    width: fit-content;
  }
  .login-layout > .actions {
    flex-direction: row;
    column-gap: 24px;
    max-width: 512px;
  }
}

@media (width >= 992px) {
  .login-layout > .actions > button {
    font-size: var(--recia-font-size-md);
  }
}