<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.login.pagetitle}">CAS Login View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body class="login mdc-typography">
<div layout:fragment="content">

    <form method="post" id="fm1-b" th:object="${credential}">
        <div id="login-form-controls">
            <div id="loginErrorsPanel" class="alert alert-danger banner banner-danger banner-dismissible" th:if="${#fields.hasErrors('*')}">
                <p th:each="err : ${#fields.errors('*')}" th:utext="${err + ' '}">Example error</p>
            </div>
        </div>
    </form>

   <div th:with="loginFormEnabled=${#strings.defaultString(#themes.code('cas.login-form.enabled'), 'true') == 'true'},
                  loginFormViewable=${@casThymeleafTemplatesDirector.isLoginFormViewable(#vars)}">
        <section id="loginForm"
                 th:if="${#bools.isFalse(delegatedAuthenticationProviderConfigurations)}"
                 class="login-section login-form card-body">
            <div th:replace="~{fragments/loginform :: loginform}">
                <a href="fragments/loginform.html">Login Form goes here</a>
            </div>
        </section>
        <span th:if="${#bools.isFalse(delegatedAuthenticationDynamicProviderSelection) && #bools.isFalse(delegatedAuthenticationDisabled)}">
            <section id="loginProviders" class="login-section login-providers card-body"
                    th:if="${delegatedAuthenticationProviderConfigurations} OR ${wsfedUrls}">
                <div th:replace="~{fragments/loginProviders :: loginProviders}">
                    <a href="fragments/loginProviders.html">loginProviders</a>
                </div>
            </section>
        </span>
    </div>
</div>
</body>

</html>
